<div id="banner">
    <div id="banner-icon"><i class="banner-flex-item fa fa-camera-retro" aria-hidden="true"></i></div>
    <div id="banner-title">
        <span id="banner-text" class="banner-flex-item">Not Instagram</span>
    </div>
    
</div>