<div class="parent-nav"id="all-nav">
    <div class="left-side" id="about">
        <a href="/" >About</a>
    </div>
    <div class="right-side">
        <div id="nav-posting">
        <a href="/postimage" id="post-button">Post</a>
        </div>
    </div>
    <div class="right-most-side">
        <div id="log-button">
        {{#if logged}}
            <a id="logout-button">Log Out</a>
        {{else}}
            <a href="/login" id="login-button">Log In</a>
        {{/if}}
        </div>
    </div>
    <div class="center" id="search-input">
        <input id="search-bar" type="text" placeholder="Search..">
    </div>
    
</div>
