<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <title>{{title}}</title>
   <link rel="stylesheet" type="text/css" href ="public/css/registration.css">
   <link rel="stylesheet" type="text/css" href="public/css/sampleHome.css">
   <link rel="stylesheet" type="text/css" href ="public/css/imagepost.css">
   <link rel="stylesheet" type="text/css" href ="public/css/login.css">
   <link rel="stylesheet" type="text/css" href ="public/css/postimage.css">
   <script defer src="public/js/sampleHome.js"></script>
   <script defer src="public/js/registrationValidation.js"></script>
</head>
<body>
    <div id="container">
        {{> header}}
        {{{body}}}
        {{> footer}}
    </div>
</body>

</html>