<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <title>{{title}}</title>
   <link rel="stylesheet" type="text/css" href ="/public/css/registration.css">
   <link rel="stylesheet" type="text/css" href="/public/css/sampleHome.css">
   <link rel="stylesheet" type="text/css" href ="/public/css/imagepost.css">
   <link rel="stylesheet" type="text/css" href ="/public/css/login.css">
   <link rel="stylesheet" type="text/css" href ="/public/css/postimage.css">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
   <script defer src="/public/js/sampleHome.js"></script>
   <script defer src="/public/js/registrationValidation.js"></script>
   <script defer src="/public/js/frontendjs.js"></script>
</head>
<body>
    <div class="main-body" id="container">
        {{log this}}
        {{> header}}
        {{#if (emptyObject messages)}}
        {{> flashmessage}}
        {{/if}}
        {{{body}}}
        {{> footer}}
    </div>

    {{#if logged}}
        <script>
            let ele = document.getElementById('logout-button');
            if(ele){
                ele.onclick = (even) => {
                    fetch('/users/logout', {
                        method: "POST"
                    })
                    .then((data) => {
                        location.replace('/');
                    })
                }
            }
        </script>
    {{/if}}
</body>

</html>