<div id="imagepostbody">
    <div id="tithead">
    <header>
        <h1>See Image Posts</h1>
    </header>
</div>
<div id="containr">
    <div id="title">
        <header>
            <div id="titleux">
                <h4>Title: </h4>
            </div>
            <div id="post-title">"Cute Dog In a Park"</div>
        </header>
    </div>
    <div id="auth">
        <header>
            <div id="authux">
                <h4>Author: </h4>
            </div>
            <div id="post-author">Jablinsky Dmitry</div>
        </header>
    </div>
    <div id="datecr">
        <header>
            <div id="datecrux">
                <h4>Date Created: </h4>
            </div>
            <div id="post-creation-time"><em>~Feb 31, 2030~</em></div>
        </header>
    </div>
    <div id="post-ciamge"><img src="https://fakeimg.pl/300/"></div>
</div>
</div>
