<div id="loginbody">
   <header id="loginheader">
      <h1>Log In</h1>
   </header>

   <div id="loginbody">
      <form id="loginform" method="POST" action="/users/login" enctype="application/x-www-form-urlencoded">
         <div id="log">
            <div id="usr">
               <label>Username</label>
               <input class="login-input" type="text" required name="username"/>
               <br>
            </div>
            <div id="pass">
               <label>Password</label>
               <input class="login-input" type="password" required name="password"/>
               <br>
            </div>
         </div>
         <div id="sign-up-option">
           Don't have an account yet? <a href="/registration">Sign Up</a>
         </div>
         <div id="signbutt">
            <button id="thebutton" type="submit">Log In</button>
         </div>
      </form>
   </div>
</div>