<div class="posting" id="postbody">
    <div id="posting-body">
    <header id="postheader">
        <h1>Post Your Image Here</h1>
    </header>
    <form>
        <div id="usrinpt">
            <div id="titlex">
                <label>Input Title: </label>
                <input class="post-input" type="text" required />
                <br>
            </div>
            <div id="descr">
                <label>Description: </label>
                <input class="post-input" type="text" />
                <br>
            </div>
            <div id="img">
                <label>Upload an Image: </label>
                <div id="imgup">
                    <input class="post-input" type="file" required />
                    <br>
                </div>
            </div>
            <div id="chckbx">
                <input class="post-input" type="checkbox" required />
                <label id="postlabel">I have accepted the <a href="#"> Acceptable Use Policy</a> for uploading
                    images</label>
                <br>
            </div>
        </div>
        <div id="buttn">
            <button id="postbutton" type="submit">Post</button>
        </div>
    </form>
    </div>
</div>