<div id="regbody">
  <header id="registrationheader">
        <h1>Sign Up</h1>
    </header>

    <form id="form" method="POST" action="/users/registration" enctype="application/x-www-form-urlencoded">
        <div class="formusr" id="formusr">
            <label id="reglabel" for="username">Username</label>
        <div class="form-control">
            <input class="reginput" id="username" type="text" placeholder="wAssUp25" required  name="username"/>
        </div>
        <br>
        <label id="reglabel" for="email">Email</label>
        <div class="form-control">
            <input class="reginput" id="email" type="email" placeholder="iro_mark@example.com" required name="email"/>
        </div>
        <br>
        <label id="reglabel" for="password">Password</label>
        <div class="form-control">
            <input class="reginput" id="password" type="password" placeholder="Password" required name="password"/>
        </div>
        <br>
        <label id="reglabel" for="cpassword">Confirm Password</label>
        <div class="form-control">
            <input class="reginput" id="cpassword" type="password" placeholder="Confirm Password" required name="cpassword" />
        </div>
        <br>
        <div class="form-control" id="log-in-option">
           Already have an account? <a href="/login">Log In</a>
        </div>
    </div>
    <div class="error" id="error"></div>
    <div id="checkbx">
        <input type="checkbox" required="true" />
        <label class="reglabel">I am 13+ years old</label>
        <br>
        <input type="checkbox" required="true" />
        <label class="reglabel">I have read and accepted the <a href="#">Terms of Services</a> and <a href="#">Privacy Rules</a></label>
        <br>
    </div>
    <button id="regbutton" type="submit">Sign Up</button>
</form>
</div>