#tithead {
    font-family: "Brush Script MT", cursive;
    font-weight: bolder;
    text-align: left;
    font-size: 200%;
    color: blanchedalmond;
 }
 #imagepostbody{
    height: 200px;
    width: 400px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -400px;
    margin-left: -200px;
 }
 #containr{
    background-color: blanchedalmond;
    padding: 50px;
    opacity: 0.7;
 }
 #titleux{
    font-family: "Verdana", sans-serif;
    font-weight: normal;
    color: darkred;
 }
 #authux{
    font-family: "Verdana", sans-serif;
    font-weight: normal;
    color: darkred;
 }
 #datecrux{
    font-family: "Verdana", sans-serif;
    font-weight: normal;
    color: darkred;
 }
 #post-title{
    font-family: "Verdana", sans-serif;
    font-weight: normal;
    color: black;
 }
 #post-author{
    font-family: "Verdana", sans-serif;
    font-weight: normal;
    color: black;
 }
 #post-creation-time{
    font-family: "Verdana", sans-serif;
    font-weight: normal;
    color: black;
    margin-bottom: 20px;
 }
 #post-ciamge{
    width: 100%;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.5);
    animation-name: stretch;
    animation-duration: 0.7s;
    animation-timing-function: ease-out;
    animation-delay: 0s;
    animation-direction: normal;
    animation-iteration-count: 1;
    animation-fill-mode: none;
    animation-play-state: running;
 }
 @keyframes stretch {
    0% {
        transform: scale(.3);
        border-radius: 20%;
    }
    100% {
        transform: scale(1.0);
    }
 }