#loginheader {
   background: rgba(0,0,0,.5);
   box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.5);
   padding-bottom: 300px;
   font-family: "Brush Script MT", cursive;
   font-weight: bolder;
   text-align: center;
   font-size: 300%;
   color: blanchedalmond;
   animation-name: stretch;
   animation-duration: 1.3s;
   animation-timing-function: ease-out;
   animation-delay: 0s;
   animation-direction: normal;
   animation-iteration-count: 1;
   animation-fill-mode: none;
   animation-play-state: running;
}
#loginbody{
   grid-area: content;
   height: 200px;
   width: 400px;
   position: fixed;
   top: 50%;
   left: 50%;
   margin-top: -400px;
   margin-left: -208px;
}
#loginform{
   animation-name: stretch;
   animation-duration: 1.3s;
   animation-timing-function: ease-out;
   animation-delay: 0s;
   animation-direction: normal;
   animation-iteration-count: 1;
   animation-fill-mode: none;
   animation-play-state: running;
}
#sign-up-option{
   font-size: x-small;
   text-align: center;
   color: blanchedalmond;
   font-family: "Verdana", sans-serif;
}
#sign-up-option a:visited{
   font-family: "Verdana", sans-serif;
   font-weight: normal;
   color: blanchedalmond;
}
 #log{
   padding-top: 3px;
    margin-top: 150px;
    font-family: "Verdana", sans-serif;
    font-weight: normal;
    padding: 100px;
    color: blanchedalmond;
 }
 @keyframes stretch {
    0% {
        transform: scale(.3);
        border-radius: 20%;
    }
    100% {
        transform: scale(1.0);
    }
 }
 #thebutton{
    margin-top: 8px;
    margin-left: 140px;
    margin-bottom: 3px;
    background: transparent;
    font-family: "Verdana", sans-serif;
    font-weight: bold;
    border-radius: 10px;
    border: 0px;
    padding: 10px;
    color: blanchedalmond;
    font-size: x-large;
 }
 #thebutton:hover {
    color: white;
 }
 label{
    margin-left: 60px;
    width: 5rem;
 }
 #pass{
    margin-top: 10px;
 }
 .login-input{
    margin-left: 10px;
    background: burlywood;
    color: black;
    border:none;
    border-bottom: 1px solid blanchedalmond;
    opacity: 0.6;
 }
.login-input:invalid{
    background:transparent;
    color: blanchedalmond;
 }
